# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/http.facbooc.com

# Other files and folders
.settings/

# Executables
*.swf mobail
*.air
*.ipa  
*.apk pubg

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
